/* You can add variables to this file, and also import other style files */

$text-color: #10324a;
$line-color: #f1f1f1;
$bar-color: linear-gradient(90deg, rgba(0,155,241,1) 0%, rgba(0,212,255,1) 100%);
$container-box-shadow: 20px 20px 60px #d9d9d9,
-20px -20px 60px #ffffff;

$base-spacing-unit: 4px;

/**
 * Background colours
 */
$bg-grey: rgb(248 250 252);